'exception-reporting':
  'userId': 'e1e70b55-c3f9-2874-7566-cca4a2953b72'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'ca3551c77f1be42949463b00b8273bb8984272b8'
'editor':
  'fontFamily': 'menlo'
  'showIndentGuide': true
  'softWrap': true
  'fontSize': 12
'core':
  'themes': [
    'atom-dark-ui'
    'base16-tomorrow-dark-theme'
  ]
  'disabledPackages': [
    'metrics'
  ]
  'audioBeep': false
